
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #ffffff;
  color: #000000;
  overflow-x: hidden;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  position: relative;
}

.intro {
  background: #111;
}

.outro {
  background: #333;
}

.scroll-section {
  position: relative;
  background: #000;
  height: 100vh;
  overflow: hidden;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.video-block {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* === VIDEO === */
.fade-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  display: none;
  transition: opacity 0.6s ease;
  
}

/* === TEXTO ENCIMA DE VIDEO === */
.texto-video {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  text-align: center;
  z-index: 2;
  pointer-events: none;
  font-weight: bold;
  color: white;
  text-shadow: 4px 4px 4px rgba(0,0,0,0.6);
  font-size: 45px;
  line-height: 1.4;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Alternancia izquierda / derecha */
.video-block:nth-child(odd) .texto-video {
  left: 10%;
  text-align: left;
}
.video-block:nth-child(even) .texto-video {
  right: 10%;
  text-align: right;
}

/* === NAVEGACIÓN POR CÍRCULOS === */
.nav-circles {
  position: absolute; /* Siempre visible */
  bottom: 40px;
  width: 160px;
  left: 0;
  height: 160px;
  border-radius: 50%;
  z-index: 99;
  pointer-events: none;
  align-items: center;
}

.circle-btn {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid white;
  padding: 0;
  background: white;
  cursor: pointer;
  transition: transform 0.3s ease;
  pointer-events: auto;
}

.circle-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;   
}

.circle-btn:hover {
  transform: scale(1.3);
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8);
}
.texto-centrado{
       font-family: "Roboto Condensed", sans-serif;
}
